#img0{
		background-color:#E6E6E6;
		background-image: url();
		box-shadow: 10px 10px 5px #888;
				
}
#main{
	background-image: url(/WebContent/resources/img/back1.jpg);
	
}
#image1{
	
	
}
